{% extends "frame.html" %}

{% block title %}
    secret_number_game
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock css %}

{% block content %}

<body>
    <h1>Welcome to the secret number game</h1>
    <p>Guess the secret number:</p>
    <p>
        {% if secret_number >5 %}
        <small>hint: it is {{secret_number}}</small>
    </p>
    <p><small>hint: it is greater than 5</small>
        {% else %}
    </p>
    <p> <small>hint: it is less equal than 5</small>
    </p>
        {% endif %}
</body>
{% endblock content %}
